# Azure LLM API 인증키
OPENAI_ENDPOINT="YOUR_AZURE_OPENAI_ENDPOINT"
OPENAI_API_KEY="YOUR_AZURE_OPENAI_API_KEY"
CHAT_MODEL="YOUR_AZURE_OPENAI_CHAT_MODEL"
EMBEDDING_MODEL="YOUR_AZURE_OPENAI_EMBEDDING_MODEL"
SEARCH_ENDPOINT="YOUR_AZURE_SEARCH_ENDPOINT"
SEARCH_API_KEY="YOUR_AZURE_SEARCH_API_KEY"
INDEX_NAME="YOUR_AZURE_SEARCH_INDEX_NAME"

# Azure AI Service 인증키
AZURE_LANGUAGE_ENDPOINT="YOUR_AZURE_LANGUAGE_ENDPOINT"
AZURE_LANGUAGE_KEY="YOUR_AZURE_LANGUAGE_KEY"

# LangSmith 관련 설정
LANGCHAIN_API_KEY="YOUR_LANGCHAIN_API_KEY"
LANGSMITH_TRACING=true
LANGCHAIN_PROJECT="YOUR_LANGCHAIN_PROJECT"